.search-movies-form {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: rgb(0 0 0 / 15%);
  width: 100%;
  box-shadow: 0 -1px 30px -1px rgb(0 0 0 / 60%);
  padding: 20px 0;
}

.movies-searchbar,
.submit-button {
  border: none;
  outline: none;
  padding: 15px;
  color: white;
  font-family: 'Montserrat';
}

.movies-searchbar {
  background: rgb(0 0 0 / 40%);
}

.submit-button {
  cursor: pointer;
  transition: ease 0.2s;
  background: rgb(0 0 0 / 60%);
}

.submit-button:hover {
  transform: scale(1.05);
}
