@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  background: linear-gradient(to right, #16222a, #3a6073);
  color: white;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
